<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a sample application: Twitter Clone using <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> made by Wei Xiang. 
  Stay safe and healthy!
</p>
<h1>
  <%= link_to image_tag("linkedin.JPG", alt: "my picture", width: "500"),
                      "https://www.linkedin.com/in/weixiang-toh/" %>
</h1>