<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me through my 
  <a href="https://www.linkedin.com/in/weixiang-toh/" target="_blank"/>Linkedin</a> and do drop me a message!
  Do check out my other projects <a href="https://weixiangtoh.github.io/" target="_blank"/>here</a> as well!
</p>
