<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  As much as I wish to help, there are a few things I have to warn you about.
  <ul>
    <li>The sign up link is a little buggy so inform me at once so I can activate your account!</li>
    <li>Otherwise, here is a guest account for you to try
      <ol>
        Email: guest@gmail.com
      </ol>
      <ol>
        Password: 123456
      </ol>
    </li>
    <li>Resetting Password page is also a little problematic</li>
  </ul>
  Besides all these, I hope you enjoy this sample application!
</p>

<p>
  <strong>An update on the mailer:</strong>
  <ul>I have managed to activate the mailer for SendGrid and it seems to be working fine!</ul>
  <ul>Do update me if there are still any errors!</ul>
</p>
